:root {
    --white: hsl(0, 0%, 100%);
    --roseWhite: hsl(330, 100%, 90%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --max-width: 1440px;
    --mobile-width: 375px;
    --font-headers: "Young Serif", serif;
    --general-font: "Outfit", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: var(--Eggshell);
    font-family: var(--general-font);
    font-weight: 400;
    font-style: normal;
    color: var(--Dark-Charcoal);
}

.container {
    max-width: var(--max-width);
    background-color: var(--white);
    margin: 0 auto;
    padding: 90px;
}

.content-img img {
    border-radius: 25px;
}

.header {
    margin: 50px 0;
    font-family: var(--font-headers);
    font-weight: 100;
    font-style: normal;
    font-size: 5rem;
}

.recipe-info {

}

h2 {
    color: var(--Nutmeg);
    font-family: var(--font-headers);
    font-weight: 400;
    font-style: normal;
}

.preperation-info {
    background-color: var(--roseWhite);
    border-radius: 5px;
    padding: 30px;
}

.preperation-info h3 {
    color: var(--Dark-Raspberry);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
